#################################
## Model languages
[bngl]
bionetgen >= 0.7.2

[cellml]
libcellml

[lems]
pylems
pyneuroml
pint

[neuroml]
libneuroml
pyneuroml >= 0.5.18

# [rba]
# python -m pip install git+https://github.com/biosimulators/RBApy.git#egg=rbapy

[sbml]
python_libsbml

[smoldyn]
smoldyn >= 2.66

#################################
## Visualization formats
[escher]
bezier

#################################
## Docker images
[containers]
docker >= 4.4

#################################
## Console logging
[logging]
capturer
