#################################
## Model languages
[bngl]
jupyter_events <= 0.5.0
bionetgen >= 0.7.2, <= 0.7.8

[cellml]
libcellml <= 0.2.0.dev21

[lems]
pylems <= 0.5.9
pyneuroml <= 0.7.1
pint <= 0.19.2

[neuroml]
libneuroml <= 0.4.0
pyneuroml >= 0.5.18, <= 0.7.1

# [rba]
# python -m pip install git+https://github.com/biosimulators/RBApy.git#egg=rbapy

[sbml]
python_libsbml <= 5.19.6

[smoldyn]
smoldyn >= 2.66, <= 2.68
# simulariumio

[simularium]
simulariumio

#################################
## Visualization formats
[escher]
bezier <= 2021.2.12

#################################
## Docker images
[containers]
docker >= 4.4, <= 5.0.3

#################################
## Console logging
[logging]
capturer <= 3.0
