appdirs
biopython
cement <= 3.0.6
evalidate >= 2.0.0
h5py < 4.0.0
kisao >= 2.33
lxml
matplotlib
mpmath
natsort
networkx >= 2.6, <= 2.8.5
numpy
openpyxl
pandas
pronto >= 2.4, <= 2.5
pyomexmeta >= 1.2.13
python_dateutil
python_libcombine >= 0.2.11
python_libsedml >= 2.0.16, <= 2.0.32
pyyaml <= 5.3.1
rdflib <= 6.2.0
regex <= 2022.7.25
requests <= 2.28.1
setuptools 
simplejson <= 3.16.0
termcolor <= 1.1.0
uritools <= 4.0.0
yamldown <= 0.1.8
