appdirs <=1.4.4
biopython <= 1.79
cement <= 3.0.6
evalidate <= 1.0.2
h5py <= 3.7.0
kisao >= 2.29, <= 2.30
lxml <= 4.9.1
matplotlib <= 3.5.2
mpmath <= 1.2.1
natsort <= 8.1.0
networkx >= 2.6, <= 2.8.5
numpy < 1.24
openpyxl <= 3.0.10
pandas <= 1.4.3
pronto >= 2.4, <= 2.5
pyomexmeta == 1.2.13
python_dateutil <= 2.8.2
python_libcombine >= 0.2.11
python_libsedml >= 2.0.16, <= 2.0.32
pyyaml <= 5.3.1
rdflib <= 6.2.0
regex <= 2022.7.25
requests <= 2.28.1
setuptools 
simplejson <= 3.16.0
termcolor <= 1.1.0
uritools <= 4.0.0
yamldown <= 0.1.8
